@import url('https://fonts.googleapis.com/css2? family= New+Rocker & display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
    --main-text-color: black;
    --accent-color: #ebd5b3;
    --button-background-color: #ebd5b3;
    --button-border-color: black;
    --title-font-family: 'New Rocker', cursive;
    --font-family: 'New Rocker', cursive;
}
