.header {
    padding: 5px;
    background-color: var(--accent-color);
}

.header__title,
.header__logo {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header__logo {
    background-image: url("img/.header-logo-background.jpg");
  }

.header__menu {
    display: flex;
    flex-direction: column;
}

.header__menu .menu__item {
    color: var(--main-text-color);
    text-decoration: none;
}

.header__menu .menu__item:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {

    .header__menu {
        display: flex;
        align-items: center;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
    }
}
